@import "../../variables";

.trade-list {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-right: 1px solid $color-border;

  a {
    text-decoration: none;
    color: $color-text-black;
  }

  &__item {
    padding: $gutter;
    border-bottom: 1px solid $color-border;
    display: flex;
    justify-content: space-between;

    &__left-side {
      display: flex;
      width: 100%;

    }

    &__right-side {
      display: flex;
      flex-direction: column;
      width: 5.5rem;
      align-items: center;
    }
  }

  &__item_active {
    background-color: $color-bg-gray;
  }
}

.dot {
  display: inline-block;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: 0 0.5*$gutter;

  &_gray {
    background-color: $color-text-gray;
  }

  &_green {
    background-color: $color-text-green;
  }
}
