@import "../../variables";

$incoming-message-color: #5c7394;

.chat {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: $color-bg-gray;
  border-right: 1px solid $color-border;

  &__header {
    padding: $gutter;
    border-bottom: 1px solid $color-border;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__trade-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__payment-method {
        font-size: large;
      }

      &__buyer {
        padding-top: 0.5*$gutter;
        font-size: 0.9*$font-size;
      }
    }
  }

  &__body {
    flex: 1;
    height: 100%;
    overflow-y: auto;
  }

  &__message {
    display: flex;
    padding: $gutter;

    &__avatar {
      padding: $gutter;
    }

    &__text {
      padding: $gutter;
      border-radius: $border-radius;
      border: 1px solid $color-border;
      font-size: 0.9*$font-size;

      &_incoming {
        background-color: $incoming-message-color;
        color: $color-bg-white;
        margin-left: 4*$gutter;
      }

      &_outgoing {
        background-color: $color-bg-white;
        margin-right: 4*$gutter;
      }
    }

    &__date {
      padding-top: $gutter / 2;
      color: $color-text-gray;
      font-size: 0.8*$font-size;

      &_align-right {
        text-align: right;
      }
    }
  }

  &__message_reversed {
    flex-direction: row-reverse;
  }

  &__footer {
    display: flex;
    margin: $gutter;
    background-color: $color-bg-white;
    align-items: center;

    &__field {
      flex: 1;

      input {
        border: 0;
        padding: $gutter 2*$gutter;
        width: 100%;
        box-sizing: border-box;
      }

      input:focus {
        outline-width: 0;
      }
    }

    &__button {
      padding-right: $gutter;
    }
  }
}
