// Palette

$color-text-black: #3b3b42;
$color-text-green: #52d48c;
$color-text-gray: #ababac;
$color-text-red: #df384c;

$color-bg-white: #ffffff;
$color-bg-gray: #f5f7fa;
$color-bg-green: #52d48c;
$color-border: #e6e9ec;

// Sizes
$gutter: 1rem;
$font-size: 1rem;
$border-radius: 5px
