// Palette

$color-primary: #52d48c;
$color-secondary: #ababac;
$color-danger: #df384c;

$color-bg-white: #ffffff;
$color-bg-gray: #f5f7fa;
$color-border: #e6e9ec;

// Sizes
$gutter: 1rem;
$font-size: 1rem;
$border-radius: 5px
